version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: twitter_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: twitter_lite
      POSTGRES_USER: twitter_user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
